node_modules
dist
out
.DS_Store
.eslintcache
*.log*


# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


#Electron-builder output
/dist_electron
/dist
/tmp


#local
package-lock.json
